PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nova_db?schema=public"
JWT_SECRET="super-secret-jwt-key-nova-ai-platform-2026"
JWT_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:3000"
OPENAI_API_KEY=""
STRIPE_SECRET_KEY=""
